{% load static %}
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light py-3 px-3">
        <div class="d-flex align-items-center">
            <div class="photo-container ms-3">
            <a class="navbar-brand" href="#">
                <img src="{% static 'blog/my_f.png' %}" alt="Логотип блога" style="max-width: 100%; height: auto;" >
            </a>
                </div>
            <div class="ms-3">
                <h1 class="h5">Личный блог Андрея Ткачева</h1>
                <figure>
                    <blockquote class="blockquote">
                        <p class="mt-2">«На рыбалку ходят не за рыбой, а за душевным покоем»</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="Source Title">цитата из книги «Американские боги» Нила Геймана</cite>
                    </figcaption>
                </figure>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" aria-current="page" href="{% url 'blog:home' %}">Главная</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'blog:blog' %}">Блог</a>
                </li>
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Медиа
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Фото</a></li>
                        <li><a class="dropdown-item" href="#">Видео</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Обо мне
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Биография</a></li>
                        <li><a class="dropdown-item" href="#">Мое снаряжение</a></li>
                        <li><a class="dropdown-item" href="#">Мои рецепты</a></li>
                        <li><a class="dropdown-item" href="#">Мои советы</a></li>
                    </ul>
                </li>
            </ul>
            <form action="{% url 'blog:search_results' %}" method="get" class="d-flex my-auto">
    <input class="form-control me-2" type="search" name="q" placeholder="Поиск" aria-label="Search">
    <button class="btn btn-outline-dark" type="submit">Поиск</button>
</form>
        </div>
    </nav>
</div>
