{% extends 'blog/base.html' %}
{% block title %}Главная | Личный блог Андрея Ткачева{% endblock %}
{% load humanize %}
{% load static %}

{% block content %}
<article class="container-fluid mt-3">
    <h1 class="text-center">Главная</h1>

    <section class="row align-items-center justify-content-between">
        <div class="col-md-6 col-sm-12 text-center">
            <img src="{% static 'blog/my.jpg' %}" alt="Фото Андрея Ткачева" class="img-fluid m-auto" style="max-width: 80%; height: auto;">
        </div>
        <div class="col-md-6 col-sm-12">
            <p class="lead">
                Привет! Добро пожаловать на мой блог!<br>
                Здесь я делюсь своими мыслями, идеями и опытом в различных сферах жизни. Будь то технологии, саморазвитие, путешествия или просто интересные истории – каждый найдет для себя что-то полезное и вдохновляющее.<br>
                Я стараюсь писать искренне и честно, чтобы мои статьи были не просто набором слов, а настоящим отражением моих мыслей и чувств. Если тебе близки темы, о которых я пишу, оставайся, читай и комментируй. Я всегда рад общению и новым знакомствам!<br>
                Надеюсь, что этот блог станет для тебя источником вдохновения и новых открытий. Приятного чтения!
            </p>
        </div>
    </section>
</article>
{% endblock %}