{% extends 'catalogs.html' %}
{% load humanize %}
{% block content %}
<div class="container my-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    {% for category in categorys %}
      <div class="col">
        <div class="card h-100">
          <div class="card-header text-center">
            <img src="{{ category.photo.url }}" class="img-fluid" alt="{{ category.name }}" style="height: 150px; object-fit: cover;">
            <h5 class="card-title mt-2" style="min-height: 40px;">{{ category.name|truncatechars:20 }}</h5>
          </div>
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="card-text">{{ category.description|truncatechars:100 }}</p>
            <div class="mt-auto">
              <a class="btn btn-outline-primary d-block w-100" href="{% url 'catalog:category_detail' category.pk %}" role="button">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

