{% include 'includes/inc_structured.html' %}
    <title> Меню | Главная</title>

</head>
<body>
<header>
    <div class="container-max-width right">
        <div class="row">
            {% include 'includes/inc_menu.html' %}
            <div class="col-10 mt-5">
                <h1 class="text-center">Главная</h1>
                <p class="lead text-center">Мы на сайте, предназначены для продажи товаров.</p>
                {% block content%}
                {% endblock %}
            </div>
            </div>
        </div>
</header>
<script src="static/js/bootstrap.bundle.min.js"></script>
</body>
</html>