<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap-icons.css">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/bootstrap-icons-1.11.3/bootstrap-fill-svgrepo-com.svg" rel="shortcut icon">
    <title> Меню | Контакты</title>

</head>
<body>
<header>
    <div class="container-max-width">
        <div class="row">
            <div class="col-2">
                <div class="card text-bg-dark mb-1" style="max-width: 18rem;">
                    <div class="card-header custom-border-white">
                        <a class="navbar-brand text-white" href="../templates/index.html">
                            <img src="../static/bootstrap-icons-1.11.3/bootstrap-fill-svgrepo-com.svg" alt="Logo" width="30" height="24" class="icon ">
                            Меню
                        </a>
                    </div>
                    <div class="card-body black-section">
                        <ul class="nav nav-pills flex-column ">
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="page" href="../templates/index.html"><img src="../static/bootstrap-icons-1.11.3/houses-fill.svg" class="icon"> Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white " href="../templates/categories.html"><img src="../static/bootstrap-icons-1.11.3/speedometer2.svg" class="icon"> Категории</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#"><img src="../static/bootstrap-icons-1.11.3/table.svg" class="icon"> Заказы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active text-white" href="../templates/contacts.html"><img src="../static/bootstrap-icons-1.11.3/person-circle.svg" class="icon"> Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer bg-transparent custom-border-white">Профиль</div>
                </div>
            </div>
            <div class="col-10 mt-5">
                <h1 class="text-center">Контакты</h1>
                <div class="row">
                    <div class="col-5">
                    <div class="card ms-5 mt-5">
                        <div class="card-body">
                            <h5 class="card-title">Имя</h5>
                            <div class="mb-3">
                                <input class="form-control" placeholder="Иванов Иван Иванович">
                                <h5 class="">Почта</h5>
                                <div class="input-group mb-3 ">
                                    <span class="input-group-text" >@</span>
                                    <input type="text" class="form-control" placeholder="ivanov@gmail.com" aria-label="Имя пользователя" aria-describedby="basic-addon1">
                                </div>
                                <div class="mb-3">
                                    <h5 class="">Сообщение</h5>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                                </div>
                                <div>
                                    <a href="#" class="btn btn-primary">Отправить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-5">
                        <h4 class="ms-5 mt-5">Наши контакты</h4>
                        <p class="lead ms-5">Где-то на планете земля.</p>
                    </div>

                </div>


            </div>
        </div>
    </div>
</header>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>