{% load static %}
<div class="card text-bg-dark mb-1" style="max-width: 18rem;">
    <div class="card-header custom-border-white">
        <a class="navbar-brand text-white" href="http://127.0.0.1:8000/">
            <img src="{% static 'bootstrap-icons-1.11.3/bootstrap-fill-svgrepo-com.svg' %}" alt="Логотип" width="30" height="24" class="icon">
            Меню
        </a>
    </div>
    <div class="card-body black-section left">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'home' %} active {% endif %} text-white text-start" href='{% url "catalog:home" %}'>
                    <img src="{% static 'bootstrap-icons-1.11.3/houses-fill.svg' %}" class="icon" alt="Главная"> Главная
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'catalogs' %} active {% endif %} text-white text-start" href='{% url "catalog:catalogs" %}'>
                    <img src="{% static 'bootstrap-icons-1.11.3/speedometer2.svg' %}" class="icon" alt="Категории"> Категории
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'orders' %} active {% endif %} text-white text-start" href='#'>
                    <img src="{% static 'bootstrap-icons-1.11.3/table.svg' %}" class="icon" alt="Заказы"> Заказы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if current_page == 'contacts' %} active {% endif %} text-white text-start" href='{% url "catalog:contacts" %}'>
                    <img src="{% static 'bootstrap-icons-1.11.3/person-circle.svg' %}" class="icon" alt="Контакты"> Контакты
                </a>
            </li>
        </ul>
    </div>
    <div class="card-footer bg-transparent custom-border-white">Профиль</div>
</div>
