{% extends 'catalog/base.html' %}
{% block title %} Меню | Новая категория {% endblock %}
{% block content %}
 <div class="container">
     <div class="row">
         <div class="col-6">
             <form class="row" method="post" enctype="multipart/form-data">
                 <div class="card">
                     <div class="card-header text-center">
                         <h5 class="card-title mt-2" style="min-height: 40px;">
                             {% if object %}
                             Редактирование категории
                             {%else%}Новая Категория{%endif%}</h5>
                     </div>
                     <div class="card-body d-flex flex-column justify-content-between">
                         {%csrf_token%}
                         {{form.as_p}}
                     </div>
                     <div class="mt-auto">
                         <button type="submit" class="btn btn-primary">
                             {% if object %}
                             Сохранить
                             {% else%}
                             Создать{% endif %}
                         </button>
                         <button type="button" class="btn btn-danger" onclick="history.back()">Отмена</button>
                     </div>
                 </div>
             </form>
         </div>
     </div>
 </div>
{% endblock %}