{% extends 'catalog/base.html' %}
{% block title %}Меню |  {{ object.name }}{% endblock %}
{% load humanize %}
{% block content %}

<h1 class="text-center">{{ object.name }}</h1>
<img src="{{ object.picture.url }}" alt="{{ object.name }}" style="height: 250px; object-fit: cover;" class="mt-5">
<p class="mt-3">Описание: {{ object.description }}</p>
<p>Цена: {{ object.purchase_price }} р.</p>
<a class="btn btn-outline-primary " href="#">Купить</a>
<a class="btn btn-outline-primary  " href="{% url 'catalog:product_update' product.pk %}"
   role="button">Редактировать</a>
<a class="btn btn-outline-danger  " href="{% url 'catalog:product_delete' product.pk %}" role="button">Удалить</a>
<p>Последнее изменение: {{ object.updated_at }}</p>
<p>Добавлен: {{ object.created_at }}</p>
</div>
{% endblock %}
